{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow-lg">
                <img src="{{ event.image.url }}" alt="{{ event.title }}" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title">{{ event.title }}</h2>
                    <p class="text-muted">{{ event.date|date:"M d, Y" }}</p>
                    <p>{{ event.description }}</p>
                    <a href="{% url 'events' %}" class="btn btn-secondary">Back to Events</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
